html {
    font-family: 'Open Sans', sans-serif;
    color: black;
}
body {
    margin: 0;
    background-color: #efefef;
}

.speakers__titulo {
    padding-top: 3rem;
    text-align: center;
}

.speakers {
    margin: 2rem;
    align-items: center;
    flex-direction: column;
}

.speakers__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.speakers__link-bio {
    text-decoration: none;
}

.speakers__img {
    border-radius: 50%;
    width: 96px;
    padding: 15px;
}

.speakers__link {
    color: #673AB7;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 5px;
    gap: 10px;
    
}

.speakers__link:hover {
    background-color: #0005;
}

.speakers__link:hover .speakers__icon {
    transform: translateX(10px);
}

.speakers__icon {
    transition: .3s;
    width: 60px;
}
