html {
    font-family: 'Open Sans', sans-serif;
    color: black;
}
body {
    margin: 0;
    background-color: #efefef;
}

.speakers__titulo {
    padding-top: 3rem;
    text-align: center;
}

.speakers {
    margin: 2rem;
    text-align: center;
}

.speakers__br {
    display: flex;
    display: block;
}

.speakers__img {
    border-radius: 50%;
    width: 100px;
    padding: 15px;
}

.speakers__link {
    color: #673AB7;
    text-decoration: none;
}

.speakers__icon {
    width: 20px;
}
